@import "variables";
@import "mixins";

/* Font */

@font-face {
  font-family: $fontfamily;
  src: url('../fonts/CaviarDreams-webfont.eot');
  src: url('../fonts/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CaviarDreams-webfont.woff2') format('woff2'),
  url('../fonts/CaviarDreams-webfont.woff') format('woff'),
  url('../fonts/CaviarDreams-webfont.ttf') format('truetype'),
  url('../fonts/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

.fontfamily {
  font-family: $fontfamily;
}
html {
  scroll-behavior: smooth;
}
body {
  @extend .fontfamily;
}

hr {
  background-color: $maincolor;
  margin: 0;
}

h2 {
  color: $maincolor;
}
.bgimg{
  background-image: url("../img/foule.jpg");
  height: 100%;
  width: 100%;
}

/* Barre de navigation */


.navbar-nav .nav-link {
  color: $textedefond;
  font-size: 20px;
}

.navbar-brand {
  color: $textedefond !important;
  font-size: 25px;
}

.active {
  color: $secondcolor !important;
}

.barredenav {
  background-color: $secondcolor;
  color: $secondcolor;
  font-weight: bold;
}

/* Header */

.fond {
  width: 100%;
  height: 50%;
  padding: 15rem 0;
  background-image: url(../img/img1.jpg);
  background-size: cover;
  @include background-size(cover);
}



/* Actualités */
.actualites {
  margin-top: $margin;
}
.suite, a :visited, a:active {
  text-decoration: none;
  color:$thirdcolor;

  &:hover {
    text-decoration: none;
    color:$maincolor;
  }
}



.img-border {
  height: 180px;
  width: 280px ;
  border : solid 2px $thirdcolor ;
  &:hover {
    border: solid 2px $maincolor;

  }
}

.titre{
  color:$maincolor;
  font-size: 22px;
  margin-bottom: 5px;
}

.papericon {
  color: $maincolor;
}

/* Films de l'été */
.filmsdelete {
  background-color: $secondcolor;
  border-bottom:2rem solid $secondcolor;
  border-top:2rem solid $secondcolor;
}

.content-descri-film{
  padding-top:2rem;
}
.bo-film{
  padding-top: 2.25rem;
}
.p-descri{
  margin-bottom: 0;
}
.img-film {
  height: 250px;
  width: 180px ;
  border : solid 2px $thirdcolor ;
  &:hover {
    border: solid 2px $maincolor;

  }
}
.hr-film {
    background-color: $maincolor;
    margin: 30px -20px 20px;
}
.fiche-film{
  margin-top: 10px;
}
/* Infos pratiques */
.infos-pratiques {
  border-top:2rem solid $fourthcolor;
  border-bottom:2rem solid $fourthcolor;
  background-color:$fourthcolor;
}
.content-infos{
  color:$secondcolor;
  white-space: normal;
}
.soulignement{
  text-decoration:underline;
}

.metro {
  background-image: url("../img/metro.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 24px;
  width: 24px;
  float: left;
  margin-right: 10px;

}

.handicape {
  background-image: url("../img/handicape.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 24px;
  width: 24px;
  float: left;
  margin-right: 10px;
}

/* Réseaux sociaux */
.reseaux-sociaux {
  background-color: $secondcolor;
  border-bottom:2rem solid $secondcolor;
  border-top:2rem solid $secondcolor;

}

.socialsmedia {
  height: 64px;
  width: 64px;
  margin-left: 2em;
  margin-right: 2em;
}

/* Bouton préinscription */

.preinscri {
  font-size: 1em;
  background-color: $bleuvert;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  @include border-radius(0.10rem);
}

/* Carousel Films */

#ThumbnailCarousel img {
  height: 250px;
}

#ThumbnailCarousel div {
  height: 250px;
  width: 100%;
}

#ThumbnailCarousel.carousel {
  padding-top: 30px;
  text-align: center;
}

.col-md-3 .img-thumbnail {
  height: 100%;
}

.img-thumbnail:hover ~ .icone-affiche {
  opacity: 1;
}
.img-thumbnail{
  background-color: $secondcolor;
  border-radius: 0.10rem;
}
.icone-affiche:hover {
  opacity: 1;
}

.icone-billet:hover {
  color: $secondcolor;
}

.icone-info:hover {
  color: $secondcolor;
}

.icone-affiche {
  opacity: 0;
  position: absolute;
  font-size: 64px;
  top: 30%;
  left: 1%;
  color: $maincolor;
}

/* Google map */

#map {
  height: 100%;
  border: 2px solid $maincolor;
}

.col-md-6 > #map {
  min-height: 200px;
}