@import "variables";
@import "mixins";

/* Font */

@font-face {
  font-family: $fontfamily;
  src: url('../fonts/CaviarDreams-webfont.eot');
  src: url('../fonts/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CaviarDreams-webfont.woff2') format('woff2'),
  url('../fonts/CaviarDreams-webfont.woff') format('woff'),
  url('../fonts/CaviarDreams-webfont.ttf') format('truetype'),
  url('../fonts/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

.fontfamily {
  font-family: $fontfamily;
}

body {
  @extend .fontfamily;
}

hr {
  background-color: $maincolor;
  margin: 0;
}

h2 {
  color: $maincolor;
}


/* Barre de navigation */

.navbar-nav .nav-link {
  color: $textedefond;
}

.navbar-brand {
  color: $textedefond !important;
}

.active {
  color: $secondcolor !important;
}

.barredenav {
  background-color: $secondcolor;
  color: $secondcolor;
  font-weight: bold;
}

/* Header */

.fond {
  width: 100%;
  height: 50%;
  padding: 15rem 0;
  background-image: url(../img/img1.jpg);
  background-size: cover;
  @include background-size(cover);
}

/* Slider */
.slider {
  max-width: 100%;
  min-height:97vh;
  position: relative;
}
.slide1,.slide2,.slide3,.slide4,.slide5 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slide1 {
  background: url(../img/lavieestbelle_film.jpg)no-repeat center;
  background-size: cover;
  animation:fade 30s infinite;
  -webkit-animation:fade 30s infinite;
}
.slide2 {
  background: url(../img/simba.jpg)no-repeat center;
  background-size: cover;
  animation:fade2 30s infinite;
  -webkit-animation:fade2 30s infinite;
}
.slide3 {
  background: url(../img/joker.jpg)no-repeat center;
  background-size: cover;
  animation:fade3 30s infinite;
  -webkit-animation:fade3 30s infinite;
}
@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}

/* Actualités */
.actualites {
  margin-top: $margin;
}
.suite, a :visited, a:active {
  text-decoration: none;
  color:$thirdcolor;

  &:hover {
    text-decoration: none;
    color:$maincolor;
  }
}



.img-border {
  height: 180px;
  width: 280px ;
  border : solid 2px $thirdcolor ;
  &:hover {
    border: solid 2px $maincolor;

  }
}

.titre-actu {
  color:$maincolor;
  font-size: 22px;
  margin-bottom: 5px;
}

.papericon {
  color: $maincolor;
}

/* Films de l'été */
.filmsdelete {
  background-color: $secondcolor;
  border-bottom:2rem solid $secondcolor;
  border-top:2rem solid $secondcolor;

}

/* Infos pratiques */
.infos-pratiques {
  border-top:2rem solid $fourthcolor;
  border-bottom:2rem solid $fourthcolor;
  background-color:$fourthcolor;
}
.content-infos{
  color:$secondcolor;
}

.metro {
  background-image: url("../img/metro.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 24px;
  width: 24px;
  float: left;
  margin-right: 10px;

}

.handicape {
  background-image: url("../img/handicape.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 24px;
  width: 24px;
  float: left;
  margin-right: 10px;
}

/* Réseaux sociaux */
.reseaux-sociaux {
  background-color: $secondcolor;
  border-bottom:2rem solid $secondcolor;
  border-top:2rem solid $secondcolor;

}

.socialsmedia {
  height: 64px;
  width: 64px;
  margin-left: 2em;
  margin-right: 2em;
}

/* Bouton préinscription */

.preinscri {
  font-size: 1em;
  background-color: $bleuvert;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  @include border-radius(0.10rem);
}

/* Carousel Films */

#ThumbnailCarousel img {
  height: 250px;
}

#ThumbnailCarousel div {
  height: 250px;
  width: 100%;
}

#ThumbnailCarousel.carousel {
  padding-top: 30px;
  text-align: center;
}

.col-md-3 .img-thumbnail {
  height: 100%;
}

.img-thumbnail:hover ~ .icone-affiche {
  opacity: 1;
}
.img-thumbnail{
  background-color: $secondcolor;
  border-radius: 0.10rem;
}
.icone-affiche:hover {
  opacity: 1;
}

.icone-billet:hover {
  color: $secondcolor;
}

.icone-info:hover {
  color: $secondcolor;
}

.icone-affiche {
  opacity: 0;
  position: absolute;
  font-size: 64px;
  top: 30%;
  left: 1%;
  color: $maincolor;
}

/* Google map */

#map {
  height: 100%;
  border: 2px solid $maincolor;
}

.col-md-6 > #map {
  min-height: 200px;
}