@import "variables";
@import "mixins";

/* Font */

@font-face {
  font-family: $fontfamily;
  src: url('../fonts/CaviarDreams-webfont.eot');
  src: url('../fonts/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CaviarDreams-webfont.woff2') format('woff2'),
  url('../fonts/CaviarDreams-webfont.woff') format('woff'),
  url('../fonts/CaviarDreams-webfont.ttf') format('truetype'),
  url('../fonts/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

.fontfamily {
  font-family: $fontfamily;
}
html {
  scroll-behavior: smooth;
}
body {
  @extend .fontfamily;
}

a:-webkit-any-link {
  color: $maincolor;
  text-decoration: none;
}


hr {
  background-color: $maincolor;
  margin: 0;
}

h2 {
  color: $maincolor;
}

/* Barre de navigation */


.navbar-nav .nav-link {
  color: $textedefond;
  font-size: 20px;
}

.navbar-brand {
  color: $textedefond !important;
  font-size: 25px;
}

.active {
  color: #FFF !important;
}

.barredenav {
  background-color: $secondcolor;
  color: $secondcolor;
  font-weight: bold;
}

/* Header */

.fond {
  width: 100%;
  height: 50%;
  padding: 15rem 0;
  background-image: url(../img/img1.jpg);
  background-size: cover;}

.bgimg{
  position: relative;
  background-image: url("../img/foule.jpg");
  background-position: center;
  background-size: cover;
  min-height: 650px;
}
.bgimg-actus{
  position: relative;
  background-image: url("../img/news.jpg");
  background-position: center;
  background-size: cover;
  min-height: 400px;
}

.bgimg-films{
  position: relative;
  background-image: url("../img/proj.jpg");
  background-position: center;
  background-size: cover;
  min-height: 400px;
  margin-bottom: 2rem;
}

.bgimg-infos{
  position: relative;
  background-image: url("../img/globe.jpg");
  background-position: center;
  background-size: cover;
  min-height: 400px;
  margin-bottom: 2rem;
}

.bgimg-prein{
  position: relative;
  background-image: url("../img/foret.jpg");
  background-position: center;
  background-size: cover;
  min-height: 400px;
  margin-bottom: 2rem;
}

span.intro {
    background-color: $secondcolor;
    color: $fourthcolor;
    padding: 16px;
    font-size: 25px;
    letter-spacing: 10px;
  }
.position-intro{
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}


/* Actualités */
.actualites {
  margin-top: $margin;
}
.suite, a :visited, a:active {
  text-decoration: none;
  color:$thirdcolor;

  &:hover {
    text-decoration: none;
    color:$maincolor;
  }
}

.img-border {
  height: 180px;
  width: 280px ;
  border : solid 2px $thirdcolor ;
  &:hover {
    border: solid 2px $maincolor;

  }
}

.titre{
  color:$maincolor;
  font-size: 22px;
  margin-bottom: 5px;
}

.papericon {
  color: $maincolor;
}

.article{
  margin-top:2rem;
  margin-bottom:2rem;
}

/* Films de l'été */
.filmsdelete {
  background-color: $secondcolor;
  border-bottom:2rem solid $secondcolor;
  border-top:2rem solid $secondcolor;
}

.content-descri-films{
}
.bo-film{
  padding-top: 2.25rem;
}
.p-descri{
  margin-bottom: 0;
}
.img-film {
  height: 250px;
  width: 180px ;
  border : solid 2px $thirdcolor ;
  &:hover {
    border: solid 2px $maincolor;
  }
}

.hr-film {
    background-color: $maincolor;
    margin: 30px -20px 20px;
}

.fiche-film {
  margin-top: 10px;
}


.lien-prein:hover {
  color: #FFF;
  text-decoration: none!important;
}

.lien-prein{
  font-size: 1em;
  background-color: $secondcolor;
  color: #CCCCCC;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  text-decoration: none!important;
  letter-spacing: 10px;
  padding: 2px;


}



/* Infos pratiques */
.infos-pratiques {
  border-top:2rem solid #FFF;
  border-bottom:2rem solid #FFF;
  background-color:#FFF;
}
.content-infos{
  color:$secondcolor;
  white-space: normal;
}
.soulignement{
  text-decoration:underline;
}

.metro {
  background-image: url("../img/metro.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 24px;
  width: 24px;
  float: left;
  margin-right: 10px;
}

.handicape {
  background-image: url("../img/handicape.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 24px;
  width: 24px;
  float: left;
  margin-right: 10px;
}

.contact{
  max-width:400px;
  width:100%;
  margin: auto;
  position:relative;
  border: solid 1 px;
}
#contact {
  background:$fourthcolor;
  padding:25px;
  margin:50px 0;
}
fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}
#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact textarea:hover {
  transition:border-color 0.3s ease-in-out;
}

#contact textarea {
  height:200px;
  max-width:100%;
  resize:none;
  width: 500px;
}

#contact button[type="submit"] {
  cursor:pointer;
  width:100%;
  border:none;
  background:$secondcolor;
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  font-size:15px;
}

#contact button[type="submit"]:hover {
  background:$maincolor;
  transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

::-webkit-input-placeholder {
  color:#888;
}
 form#contact {
   margin-top: 1rem;
 }
#preinscription {
  background:$fourthcolor;
  padding:25px;
  max-width: 400px;
  margin-left:auto;
  margin-right: auto;
}

#preinscription button[type="submit"] {
  cursor:pointer;
  width:100%;
  border:none;
  background:$secondcolor;
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  font-size:15px;
}

.acces
{
  margin-bottom: 2rem;
}
/* Réseaux sociaux */
.reseaux-sociaux {
  background-color: $secondcolor;
  border-bottom:2rem solid $secondcolor;
  border-top:2rem solid $secondcolor;

}

.socialsmedia {
  height: 64px;
  width: 64px;
  margin-left: 2em;
  margin-right: 2em;
}

/* Bouton préinscription */

.preinscri {
  font-size: 1em;
  background-color: $bleuvert;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  margin-left: 20rem;
  @include border-radius(0.10rem);
}
.preinscri-form{
  margin-bottom: 2rem;
}
/* Carousel Films */

#ThumbnailCarousel img {
  height: 250px;
}

#ThumbnailCarousel div {
  height: 250px;
  width: 100%;
}

#ThumbnailCarousel.carousel {
  padding-top: 30px;
  text-align: center;
}

.col-md-3 .img-thumbnail {
  height: 100%;
}

.img-thumbnail{
  background-color: $secondcolor;
  border-radius: 0.10rem;
}

/* Google map */

#map {
  height: 100%;
  border: 2px solid $maincolor;
}

.col-md-6 > #map {
  min-height: 200px;
}



/* Media queries */

@media screen and (max-width: (576px))
{
  span.intro {
  padding:10px;
  }

  .preinscri{
    margin-left: 0;
  }
  #ThumbnailCarousel div {
    height: 250px;
    width: 100%;
    margin-left: 1px;
  }
iframe{
  width: 210px;
  height: 200px;
  }
.img-border {
    height: 130px;
    width: 210px;
  }
}


@media screen and (max-width: (768px))
{

  span.intro {
    padding:10px;
  }

  .preinscri{
    margin-left: 0;
  }

}

@media screen and (max-width: (992px))
{

  span.intro {
    padding:10px;
  }

  .preinscri{
    margin-left: 0;
  }

}

@media screen and (max-width: (1300px))
{

  span.intro {
    padding:10px;
  }

  .preinscri{
    margin-left: 0;
  }

}
