//Font
$fontfamily: "caviar_dreamsregular";

//Texte

//Couleurs
$maincolor:#3FA9C1;
$secondcolor:#0c5460;
$textedefond:#FFFFFF;

$bleuvert:#59757F;
$grisfonce:#7F7F7F;
$grisclair:#CCCCCC;

//Containers
$margin:2rem;



