//Font
$fontfamily: "caviar_dreamsregular";

//Texte

//Couleurs
$maincolor:#3FA9C1;
$secondcolor:#0c5460;
$textedefond:#FFFFFF;
$thirdcolor:#7F7F7F;
$fourthcolor:#CCCCCC;
$bleuvert:#59757F;


//Containers
$margin:2rem;



