@import "variables";
@import "mixins";

/* Font */

@font-face {
  font-family: $fontfamily;
  src: url('../fonts/CaviarDreams-webfont.eot');
  src: url('../fonts/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CaviarDreams-webfont.woff2') format('woff2'),
  url('../fonts/CaviarDreams-webfont.woff') format('woff'),
  url('../fonts/CaviarDreams-webfont.ttf') format('truetype'),
  url('../fonts/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

.fontfamily {
  font-family: $fontfamily;
}

body {
  @extend .fontfamily;
}

hr {
  background-color: $maincolor;
  margin: 0;
}

h2 {
  color: $maincolor;
}

/* Barre de navigation */

.navbar-nav .nav-link {
  color: $blanc;
}

.navbar-brand {
  color: $blanc !important;
}

.active {
  color: $grisfonce !important;
}

.barredenav {
  background-color: $maincolor;
  color: $blanc;
  font-weight: bold;
}

/* Header */

.fond {
  width: 100%;
  height: 50%;
  padding: 15rem 0;
  background-image: url(../img/img1.jpg);
  background-size: cover;
  @include background-size(cover);
}

/* Actualités */
.actualites {
  margin-bottom: $margin;

}

.img-border {
  margin: -2px -2px -2px -2px;
  &:hover {
    border: solid 2px $maincolor;
    margin: -4px -4px -4px -4px;
  }
}

.pico {
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 1px;
  height: 27px;
  border-left: 1px dotted #ff4c4c;
  margin-left: 8px;
}

.papericon {
  color: $maincolor;
}

/* Films de l'été */
.filmsdelete {
  background-color: #0c5460;
  padding-bottom: 3rem;

}

.genre {

}

/* Infos pratiques */
.infos-pratiques {
}

/* Réseaux sociaux */
.reseaux-sociaux {
  background-color: $secondcolor;

}

/* Bouton préinscription */

.preinscri {
  font-size: 1em;
  background-color: $bleuvert;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  @include border-radius(0.10rem);
}

.bouton-preinscri:hover {
  transform: scale(1.03)
}

.bouton-preinscri:active {
  transform: scale(0.97)
}

/* Carousel Films */

#ThumbnailCarousel img {
  height: 250px;

}

#ThumbnailCarousel div {
  height: 250px;
  width: 100%;
}

#ThumbnailCarousel.carousel {
  padding-top: 30px;
  text-align: center;
}

.col-md-3 .img-thumbnail {
  height: 100%;
}

.img-thumbnail:hover ~ .icone-affiche {
  opacity: 1;

}

.icone-affiche:hover {
  opacity: 1;
}

.icone-billet:hover {
  color: $secondcolor;
}

.icone-info:hover {
  color: $secondcolor;
}

h5 {
  position: absolute;
  z-index: 1;
  top: 1%;
  width: 100%;
  color: #fff;
  opacity: 1;
  transition: .3s;
  left: 0;
  font-size: 1em;
}

.icone-affiche {
  opacity: 0;
  position: absolute;
  font-size: 64px;
  top: 30%;
  left: 1%;
  color: $maincolor;
}

/* Google map */

#map {
  height: 100%;
}