//Font
$fontfamily: "caviar_dreamsregular";

//Texte

//Couleurs
$blanc:#FFFFFF;
$maincolor:#3FA9C1;
$secondcolor:#0c5460;
$bleuvert:#59757F;
$grisfonce:#7F7F7F;
$grisclair:#CCCCCC;

//Containers
$margin:2rem;



